.dockerignore
__pycache__
*.pyc
*.pyo
*.pyd
.venv
.git
.gitignore
.env
tools
tailwind.config.js
test.py
Dockerfile
docker-compose.yml
.idea
.pytest_cache
.ruff_cache
.venv_win
.vscode
node_modules
.coverage
.coveragerc
.gitattributes
Makefile
package.json
package-lock.json
pyproject.toml
*.zip
SyncToy*
uv.lock
secret.key
Containerfile
waitress-server.py
logs/
cache/
tests/
