.idea/
.vscode/
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/

/logs/
/cache/
/node_modules/
/.venv/
/.venv_win/
/secret.key
**/templates/01
**/static/css/01
/test.py
/SyncToy*
/uv.lock
*.zip
*.bak
/files.txt
